<div class="mt-4 w-50 m-auto">
    <h1>Thêm khóa học</h1>
    <form action="">
        <div class="form-group">
            <label for="name">Tên khóa học</label>
            <input type="text" class="form-control">
        </div>
    </form>
</div>