<div class="p-2">
    <div class="row">
        <div class="col-lg-4">
    <h1>Khóa học :{{course.name}}</h1>
            <button class="btn-primary btn">Học ngay</button>
        </div>
        <div class="col-lg-8">
            <img src="{{course.image}}" width="200px" alt="">
            <p>Description: {{course.description}}</p>
        </div>
    </div>
</div>